# Ambiente Virtual (muito pesado, não vai para o GitHub)
venv/
.venv/

# Cache do Python
__pycache__/
*.pyc

# Banco de dados local (você já está usando o Postgres, então esse pode ignorar)
db.sqlite3

# Configurações do VS Code
.vscode/

# Arquivos de ambiente/senhas
.env