{% extends 'base.html' %}
{% load static %}

{% block title %}
Deletar Agendamento
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/agendamentos.css' %}">
{% endblock %}

{% block content %}

<div class="pagina-centralizada">

    <div class="card">

        <h1>Deletar Agendamento</h1>

        <p>
            Tem certeza que deseja deletar o agendamento abaixo?
        </p>

        <br>

        <p>
            <strong>Cliente:</strong>
            {{ agendamento.cliente }}
        </p>

        <p>
            <strong>Pet:</strong>
            {{ agendamento.pet }}
        </p>

        <p>
            <strong>Serviço:</strong>
            {{ agendamento.servico }}
        </p>

        <p>
            <strong>Data:</strong>
            {{ agendamento.data }}
        </p>

        <p>
            <strong>Horário:</strong>
            {{ agendamento.horario }}
        </p>

        <form method="POST">

            {% csrf_token %}

            <div class="botoes">

                <button type="submit" class="botao">
                    Confirmar
                </button>

                <a href="{% url 'listar_agendamentos' %}" class="botao-cancelar">
                    Cancelar
                </a>

            </div>

        </form>

    </div>

</div>

{% endblock %}