{% extends 'base.html' %}
{% load static %}

{% block title %}
Editar Agendamento
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/agendamentos.css' %}">
{% endblock %}

{% block content %}

<div class="pagina-centralizada">

    <div class="card">

        <h1>Formulário de Agendamento</h1>

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <div class="botoes">

                <button type="submit" class="botao">
                    Salvar
                </button>

                <a href="{% url 'listar_agendamentos' %}" class="botao-cancelar">
                    Voltar
                </a>

            </div>

        </form>

    </div>

</div>

{% endblock %}